*.pyc
dist/
*.egg-info/**/*
site/
# macOS
.DS_Store
# npm
node_modules/
npm-debug.log
yarn-error.log
# external docs
docs/docs/textileio/go-textile/
docs/docs/textileio/react-native-sdk/
docs/docs/textileio/js-http-client/
docs/docs/textileio/android-textile/
docs/docs/textileio/ios-textile/
